div {background-color: black;}

button {color: darkgoldenrod;
     font: 1em sans-serif;
      font-size: 18px;
    background-color: rgb(26, 66, 139); }
.para {font-size: 28px;
width: 600px;
padding: 50px;
text-align: center;}

* {background-color: black;
color: blanchedalmond;}

p {color: brown;
font-size: 18px;}

ul {color: green;}

a {color: cyan;
background-color: aqua;
}

h1 { 
    text-align: center; 
    font-size: 68px;
}

.alert {color:red;
background-color: black;
}

.prep {width: 200px;
     height: 189px ;
     padding: left 90px solid yellow;
     margin: 20px solid yellow; 
     border: 45px solid black;
     font-size: 18px;
    }


div p {font-size:21px;
    background-color:black;
    color: green;
   padding: left 90px solid yellow;
}

strong {background-color: black}

h3 {
    display: inline-flex;
   }

#title {color: blanchedalmond;
        text-align: center;
        font-size: 45px;
}

li {color: aliceblue;
    padding: 8px;
    font-size: 19px;
    
    width: 500px;
  
}


