div {background-color: darkorange;}

p {color: brown;}

ul {color: green;}

a {color: cyan;
background-color: aqua;}

h1 {color: violet;}

h2 {color: hotpink;}

* {background-color: black;}

.alert {color:red;
background-color: aliceblue;}